<footer>
  <div class="footercontent">
    <div class="col">
      <img class="logo" src="logo.svg" alt="" />
      <h4>Contact</h4>
      <p><strong>Address: </strong> Shubra Cairo - Egypt</p>
      <p><strong>Phone: </strong> +20 1244 779 242</p>
      <p></p>
      <p><strong>Hours: </strong> 11:00 - 23:00, Sun - Thu</p>
      <div class="follow">
        <h4>Follow Us</h4>
        <div class="icon">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-pinterest-p"></i></a>
          <a href="#"><i class="fab fa-yourube"></i></a>
        </div>
      </div>
    </div>

    <div class="col">
      <h4>About</h4>
      <a href="#">About Us</a>
      <a href="#">Delivery Information</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms & Conditions</a>
      <a href="#">Contact Us</a>
    </div>

    <div class="col">
      <h4>My Account</h4>
      <a href="#">Sign In</a>
      <a href="#">View Cart</a>
      <a href="#">My Wishlist</a>
      <a href="#">Track My Order</a>
      <a href="#">Help</a>
    </div>

    <div class="col install">
      <h4>Install App</h4>
      <p>From App Stroe or Google Play</p>
      <div class="imgs">
        <img src="pay/app.jpg" alt="" />
        <img src="pay/play.jpg" alt="" />
      </div>
      <p>Secured Payment Gateways</p>
      <img src="pay/pay.png" alt="" />
    </div>
  </div>
  <hr />
  <p class="footerbottom">©2025 Mina Adel - All Rights Reserved.</p>
</footer>
