<section class="topBody-pages , TopBabout">
  <h2>#KnowUs</h2>
  <p>lorem ipsum dolor sit amet, consectetur</p>
</section>
<section class="about-head" id="p1">
  <img src="about/a6.jpg" alt="" />
  <div>
    <h2>Who We Are?</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae doloribus
      facilis inventore veniam unde veritatis voluptatem sed quo aut.
      Voluptatibus nulla maxime dolorum doloribus labore itaque culpa ullam
      earum minus.
    </p>

    <abbr title=""
      >Create stunning images with as much or as little control as you like
      thanks to a choice of Basic and Creative modes.</abbr
    >
    <br /><br />
    <marquee bgcolor="#ccc" loop="-1" scrollamount="5" width="100%"
      >Create stunning images with as much or as little control as you like
      thanks to a choice of Basic and Creative modes.</marquee
    >
  </div>
</section>
<section class="about-app" id="p1">
  <h1>Download Our App</h1>
  <h3>
    From <a href="https://www.apple.com/eg-ar/app-store/">App Store</a> or
    <a href="https://play.google.com/store/games?hl=ar">Google Play</a>
  </h3>
  <div class="video">
    <video src="about/1.mp4" autoplay muted loop></video>
  </div>
</section>

<app-new-letter></app-new-letter>
