<section class="features">
  <div class="feBox">
    <img src="features/f1.png" />
    <p>Free Shipping</p>
  </div>
  <div class="feBox">
    <img src="features/f2.png" />
    <p>Online Order</p>
  </div>
  <div class="feBox">
    <img src="features/f3.png" />
    <p>Save Money</p>
  </div>
  <div class="feBox">
    <img src="features/f4.png" />
    <p>Promotions</p>
  </div>
  <div class="feBox">
    <img src="features/f5.png" />
    <p>Happy Sell</p>
  </div>
  <div class="feBox">
    <img src="features/f6.png" />
    <p>F24/7 Support</p>
  </div>
</section>
