<section class="topBody-home">
  <div class="topBodyDiv">
    <h4>Welcome to .shop</h4>
    <h2>Discover unbeatable deals on your favorite styles</h2>
    <h2>on all products.</h2>
    <p>save more with coupons & up to 50% off!</p>
    <button type="button" class="btn btn-outline-info">Shop now</button>
  </div>
</section>

<app-features></app-features>

<app-products [hideContent2]="true"> </app-products>

<app-banner></app-banner>

<app-products [hideContent]="true" [showFirstArray]="false"></app-products>

<app-sm-banner></app-sm-banner>

<app-new-letter></app-new-letter>
